<div id="<%= dom_id pokemon %>" style="margin-top: 40px">
  <p>
    <strong>Name:</strong>
    <%= pokemon.name %>
  </p>
  <p>
    <strong>Pokebox number:</strong>
    <%= pokemon.pokebox_number %>
  </p>
</div>
